<link href="~/Styles/signIn.css" rel="stylesheet" />
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SignIn</h2>
@Html.Raw(TempData["msg"])
<div class=" modal-dialog text-center">
    <div class="col-12 main-section">
        <div class="modal-content " id="loginForm">
            <div class="col-12 user-img">
                <div><i class="fas fa-user-circle fa-7x" style=""></i></div>
            </div>
        <div class="col-12">
            @using (Html.BeginForm("verify", "SignIn"))
            {
                <div class="form-group">
                    <input type="text" class="form-control" name="Email" placeholder="Email" required />
                    <input type="password" class="form-control" name="Password" placeholder="Password" required />
                </div>
                <button type="submit" class="btn"><i class=" fa fa-sign-in-alt "></i>Login</button>
                <button id="registerBtn" class="btn">Register</button>
            }
            </div>
            <div class="col-12 forgot">
                <a href="#">Forgot Password?</a>
            </div>
        </div><!-- end of login content-->
        <!--Beginnning of register form-->
        <div class="modal-content" id="registerForm">
            <div id="backBtn" class=" col-12 back"><i class="fas fa-arrow-alt-circle-left"></i></div>
            <div class="col-12 user-img">
                <div><i class="fas fa-user-circle fa-7x" style=""></i></div>
            </div>
            <div class="col-12">
            @using (Html.BeginForm("CreateAcc", "SignIn")) { 
                <div class="form-group">
                    <input type="text" class="form-control" name="FirstName" placeholder="FirstName" required />
                    <input type="text" class="form-control" name="LastName" placeholder="LastName" required />
                    <input type="password" class="form-control" name="Password" placeholder="Password" required />
                    <input type="text" class="form-control" name="REmail" placeholder="Email" required />
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="Re-Enter Password" required />
                </div>
                <button type="submit" class="btn"><i class=" fa fa-sign-in-alt "></i>Register</button>
                }
            </div>
            <div class="col-12 forgot">
                <label>Remember me <input type="checkbox" checked="checked" name="Remeber" /></label>
            </div>
        </div><!-- end of register content-->


    </div>
</div>
<script src="~/Scripts/login-register.js"></script>
